.misa-icon {
  background: url(../../assets/images/Icon.de5bb0db.svg);
  cursor: pointer;
}
.misa-icon1 {
  background: url(../../assets/images/Icon.de5bb0db.svg);
  cursor: pointer;
}
.icon-booking {
  background: url(../../assets/images/ICON.svg);
  cursor: pointer;
}
.misa-icon-navbar {
  background: url(../../assets/images/Icon_process.2df8445b.svg);
  cursor: pointer;
}
.icon-sibar {
  background: url(../../assets/images/Sprites.64af8f61.svg);
  cursor: pointer;
}
.misa-icon-24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.misa-icon-16 {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
.icon-date {
  background-position: -128px -312px;
  transform: scale(1);
}
.icon-pending {
  background-position: -77px -37px;
  filter: invert(51%) sepia(217%) saturate(154%) hue-rotate(1397deg)
    brightness(85%) contrast(525%);
}
.icon-arrow-left {
  background-position: -77px -18px;
  filter: invert(51%) sepia(217%) saturate(154%) hue-rotate(1397deg)
    brightness(85%) contrast(525%);
  transform: rotate(180deg);
}
.misa-icon-8 {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
}
.t-people-contact {
  background-position: 200px 200px;
}
.t-infomation {
  background-position: -1232px -312px;
  transform: scale(2);
}
.t-information-red {
  background-position: -1696px -312px;
}
.t-question-nocation {
  background-position: -1611px -360px;
  transform: scale(1.7);
  min-width: 16px ;
  width: 16px ;
}
.t-infomation-room {
  background-position: -1232px -312px;
  transform: scale(1);
}
.t-icon-import-excel {
  background-position: -1265px -90px;
}
.t-icon-location {
  background-position: -157px -177px;
}
.t-icon-option {
  background-position: -168px -72px;
  filter: invert(53%) sepia(4%) saturate(36%) hue-rotate(127deg) brightness(19%)
    contrast(9%);
}
.t-icon-dashboard {
  background-position: -33px -1587px;
  transform: scale(1.1);
}
.t-icon-dictionay {
  background-position: -254px -1589px;
  transform: scale(1.15);
}
.t-icon-import {
  background-position: -705px -202px;
  transform: scale(0.9);
  filter: brightness(10);
}
.t-icon-await {
  background-position: -552px -151px;
  transform: scale(1);
  filter: brightness(10);
}
.t-icon-scheduler {
  background-position: -128px -312px;
  transform: scale(1);
  filter: brightness(10);
}
.t-icon-room {
  background-position: -2px -3px;
  transform: scale(1);
  filter: invert(154%) sepia(38%) saturate(20%) hue-rotate(53deg)
    brightness(83%) contrast(131%);
}
.t-icon-user {
  background-position: -165px -1664px;
  transform: scale(1);
}
.t-icon-equipment {
  background-position: -339px -1590px;
  transform: scale(1);
}
.t-icon-department {
  background-position: -294px -1589px;
  transform: scale(1);
}
.t-icon-role {
  background-position: -230px -206px;
  transform: scale(1);
}

.misa-icon-notice {
  background-position: -593px -145px;
  transform: scale(1.5);
}

.misa-icon-search {
  background-position: -192px 0;
}

.misa-icon-plus-white {
  background-position: -240px 0;
}

.misa-select-box {
  background-position: -144px -24px;
}

.misa-icon-user {
  background-position: -336px -48px;
}

.misa-icon-protect {
  background-position: -48px -72px;
}

.misa-icon-multiple-user {
  background-position: -72px -24px;
}

.misa-icon-share-link {
  background-position: -96px -72px;
}

.misa-icon-run-process {
  background-position: -141px -99px;
}

.misa-icon-pencil {
  background-position: -216px 0;
}

.misa-icon-delete-custom {
  background-position: -264px -3px;
  filter: invert(51%) sepia(217%) saturate(154%) hue-rotate(1397deg)
    brightness(85%) contrast(525%);
}

.misa-icon-dropdown {
  background-position: -144px -24px;
  height: 20px !important;
}

.misa-chevron-left {
  background-position: -72px -24px;
}

.misa-icon-check {
  background-position: -48px -99px;

  filter: invert(52%) sepia(89%) saturate(505%) hue-rotate(1244deg)
    brightness(84%) contrast(86%) !important;
}

.misa-icon-close {
  background-position: -216px -24px;
}

.misa-icon-setting {
  background-position: -264px -144px;
}

.misa-icon-close-2 {
  background-position: -153px -251px;
}

.misa-icon-plus {
  background-position: -168px 0;
  filter: invert(52%) sepia(89%) saturate(505%) hue-rotate(1244deg)
    brightness(84%) contrast(86%);
  transform: scale(0.75);
}

.misa-icon-change-data {
  background-position: -2px -27px;
  filter: invert(52%) sepia(89%) saturate(505%) hue-rotate(1244deg)
    brightness(84%) contrast(86%);
  transform: scale(1.5);
}
.icon-approve {
  background-position: -1602px -258px;
}
.icon-reject {
  background-position: -1189px -515px;
  filter: invert(30%) sepia(217%) saturate(154%) hue-rotate(1397deg)
    brightness(85%) contrast(525%);
}
