.t-loading {
  position: fixed;
  right: 0;
  bottom: 0;
  top: -115px;
  left: 0;
  z-index: 100000000;
  background-color: #0000004f;
  display: none;
}
.show-loading {
  display: block !important;
}

/* .t-loader {
  position: absolute;
  top: calc(55% - 50px);
  left: 50%;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent url('../../assets/images/loading.svg') no-repeat
    center;
  background-size: 100%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
} */
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation_19 1s linear infinite;
  position: absolute;
  top: calc(55% - 50px);
  left: 50%;
  width: 45px;
  height: 45px;
  border: none;

  background-size: 100%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}

.loader::before {
  top: auto;
  bottom: 0;
  background-color:rgb(83, 83, 221);
  animation-delay: 0.5s;
}

@keyframes rotation_19 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
